
/* due to this our navbar have some problems*/

 *{
    margin: auto;
    padding: 0;
}

.status-heading{
    text-align: center;
    margin-top: 2rem;
}

.pro-picture{
    width: 30%;
}


.status-main-box{
    width: 80%;
    background-color: rgba(215, 215, 236, 0.801);

}

.status-block-cover{
    margin:-4px;
}

.std-info{
    width: 80%;;
    padding: 3px;
   
}

*{
    margin: auto;
    padding: 0;
}

.status-heading{
    text-align: center;
    margin-top: 2rem;
}

.profile-pic{
    width: 30%;
}

.status-main-box{
    width: 80%;
    
}

.status-block-cover{
    margin:-4px;
}

.std-info{
    width: 80%;;
    padding: 3px;
   
}

.info{
    margin:auto
}

.status-button{
   display: inline-block;

}

.status-accept{
    background-color: rgb(141, 245, 141);
    width: 40%;
    margin-bottom: 5%;
}

.status-reject{
    background-color: rgb(237, 145, 145);
    width: 40%;
    margin-bottom: 5%;
}
.status-complete{
    background-color:rgb(245, 245, 178);
    width: 40%;
    margin-bottom: 5%;
} 

.status-accept:hover{
    width: 50%;
    background-color: green;
   
}

.status-reject:hover{
    width: 50%;
    background-color: red;
   
}

.status-complete:hover{
    width: 50%;
    background-color: yellow;
   
}