.profile{
   margin:5vh auto;
   text-align: center;
}

.avatar{
    height:20vh;
    width:auto;
}

.avatar img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.status{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 900px){
    .status{
        flex-direction: column;
    }
}


