.navbar{
  padding:0.5rem 0 0 0 !important;
}

.navbar a{
  text-decoration: none;
  color:white;
}

.navbar a:hover{
  text-decoration: none;
  color:white;
}

.logo{
  height:8vh;
  width: auto;
}

/* To change the hamburger to white color */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar h3{
  font-size: 1.3rem;
}

.navLinks{
  margin-left:5vw;
}

.nav-link{
  padding: 0 !important;
}

.activeLink{
  border-radius:40px 40px 0 0;
  background-color: lightblue;
  height:8vh;
  width:13vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
} 

.nonActive{
  height:8vh;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items:center;
}

.dropdown{
  margin-left:2vw;
}

.navbar li img{
  max-height: 4vw;
  border-radius: 50%;
}

.dropDownMenu{
  width:10vw;
  text-align: center !important;
  background-color:rgba(127, 195, 218, 0.8) !important;
  border-radius: 0 0 10px 10px;
}

.dropDownMenu h3:hover{
  transition: 0.3s ease-in-out;
}

.dropDownMenu h3:hover{
  background-color: rgb(87, 182, 214);
}

@media screen and (max-width:991px) {
  .navbar li img{
    width:auto;
    max-height:13vw;
  }

  .activeLink{
    border-radius: 0;
    padding-left: 1rem;
    width:80vw;
    height:6vh;
    padding-top:8px;
    justify-content: flex-start;
    align-items: center;
  }

  .nonActive{
    height:6vh;
    justify-content: flex-start;
  }
}
