.profile{
   width:30vw;
   margin:5vh auto;
   text-align: center;
}

.avatar{
    height:20vh;
    width:auto;
}

.avatar img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.status{
    height:40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


